## **Thought process**
**1. Step one**: examine the data to understand the context of what the data is about and be able to provide specific prompts to make ChatGPT understand more

In [1]:
# import Library
import pandas as pd

In [3]:
pd.options.display.max_columns = 50 # expand display columns
data = pd.read_csv('ecommerce-session-bigquery.csv') # create a variable
data.head(10) # show 10 data

,fullVisitorId,channelGrouping,time,country,city,totalTransactionRevenue,transactions,timeOnSite,pageviews,sessionQualityDim,date,visitId,type,productRefundAmount,productQuantity,productPrice,productRevenue,productSKU,v2ProductName,v2ProductCategory,productVariant,currencyCode,itemQuantity,itemRevenue,transactionRevenue,transactionId,pageTitle,searchKeyword,pagePathLevel1,eCommerceAction_type,eCommerceAction_step,eCommerceAction_option
0,2515546493837534633,Organic Search,966564,Taiwan,(not set),NaN,NaN,1567.0,82.0,17.0,20170721,1500643403,PAGE,NaN,NaN,0,NaN,9180781,Suitcase Organizer Cubes,(not set),(not set),USD,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
1,9361741997835388618,Organic Search,157377,France,not available in demo dataset,NaN,NaN,321.0,8.0,NaN,20170413,1492114470,PAGE,NaN,NaN,0,NaN,9180793,26 oz Double Wall Insulated Bottle,(not set),(not set),USD,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
2,7313828956068851679,Referral,228279,United States,San Francisco,NaN,NaN,927.0,11.0,63.0,20170727,1501198444,PAGE,NaN,NaN,0,NaN,9180838,Metal Texture Roller Pen,(not set),(not set),USD,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
3,6036794406403793540,Organic Search,1615618,United States,Boulder,NaN,NaN,1616.0,13.0,38.0,20170731,1501522359,PAGE,NaN,NaN,0,NaN,9180838,Metal Texture Roller Pen,(not set),(not set),USD,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
4,7847280609739507227,Organic Search,37832,Canada,not available in demo dataset,NaN,NaN,1222.0,45.0,53.0,20170728,1501300311,PAGE,NaN,NaN,0,NaN,9180838,Metal Texture Roller Pen,(not set),(not set),USD,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
5,1371078687799372953,Referral,478901,United States,Ann Arbor,67570000.0,1.0,1569.0,48.0,87.0,20170726,1501111386,PAGE,NaN,NaN,0,NaN,9180838,Metal Texture Roller Pen,(not set),(not set),USD,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
6,8781227467221587011,Referral,119567,United States,Mountain View,24710000.0,1.0,1007.0,35.0,71.0,20170727,1501203918,PAGE,NaN,NaN,0,NaN,9180838,Metal Texture Roller Pen,(not set),(not set),USD,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
7,7328657227470299189,Organic Search,1115991,India,not available in demo dataset,NaN,NaN,3326.0,41.0,NaN,20170305,1488700723,PAGE,NaN,NaN,0,NaN,9180842,Maze Pen,(not set),(not set),USD,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
8,603507101721972238,Referral,63158,United States,not available in demo dataset,NaN,NaN,372.0,20.0,NaN,20170323,1490286223,PAGE,NaN,NaN,0,NaN,9180844,Gunmetal Roller Ball Pen,(not set),(not set),USD,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
9,2410100047658323318,Direct,487916,New Zealand,not available in demo dataset,NaN,NaN,488.0,6.0,NaN,20170306,1488836135,PAGE,NaN,NaN,0,NaN,9180844,Gunmetal Roller Ball Pen,(not set),(not set),USD,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN

## **Task 1**
**2. Step two**: prompt 3 questions to ChatGPT and analyst each results

### **1. Identify top products based on the total transaction revenue per day.**

**Prompt Question**

![prompt 1 Q](./images/01-prompt.png)

**The Result**

![Prom 1 A](./images/01-answer.png)

#### **Analyze the result**

Based on the result, chatGPT is correct to answer the given question

In [54]:
# Filter the data to include only the relevant columns: 'v2ProductName', 'totalTransactionRevenue', and 'date'
filtered_data = data[['v2ProductName', 'totalTransactionRevenue', 'date']]

# Convert 'date' to a proper datetime format and 'totalTransactionRevenue' to numeric
filtered_data['date'] = pd.to_datetime(filtered_data['date'], format='%Y%m%d')
filtered_data['totalTransactionRevenue'] = pd.to_numeric(filtered_data['totalTransactionRevenue'], errors='coerce')

# Group by 'v2ProductName' and 'date' to calculate the total revenue per day for each product
grouped_data = filtered_data.groupby(['v2ProductName', 'date']).sum().reset_index()

# Sort the data by 'totalTransactionRevenue' in descending order to identify top products
top_products = grouped_data.sort_values(by='totalTransactionRevenue', ascending=False)

C:\Users\alrav\AppData\Local\Temp\ipykernel_19388\3973229986.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['date'] = pd.to_datetime(filtered_data['date'], format='%Y%m%d')
C:\Users\alrav\AppData\Local\Temp\ipykernel_19388\3973229986.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['totalTransactionRevenue'] = pd.to_numeric(filtered_data['totalTransactionRevenue'], errors='coerce')

In [55]:
# Display the top products based on the total transaction revenue per day
top_products.head(10)

                       v2ProductName       date  totalTransactionRevenue
1171            YouTube RFID Journal 2017-04-07             6.831960e+09
953                        Sport Bag 2016-08-25             6.239580e+09
119         Collapsible Shopping Bag 2016-08-22             5.982170e+09
584                  Google Tote Bag 2016-08-22             5.945580e+09
587                  Google Tote Bag 2016-08-25             4.087500e+09
254      Electronics Accessory Pouch 2016-09-26             2.708200e+09
532           Google Pet Feeding Mat 2016-10-02             2.535350e+09
16               1 oz Hand Sanitizer 2016-09-15             2.258820e+09
1024        Suitcase Organizer Cubes 2016-09-15             1.918160e+09
654   Google Zipper-front Sports Bag 2016-08-20             1.533920e+09

### **2. Detect any anomalies, such as a sharp decrease or increase in the number of transactions for a specific product.**

**Prompt Question**

![prompt 2 Q](./images/02-prompt.png)

**The Result**

![prompt 2 A](./images/02-answer.png)

#### **Analyze the result**

Based on the results, chatGPT is correct to answer the given question; 1 oz hand sanitizer has a sharp increase of up to 150%, but there is another product that chatGPT doesn't mention, which is the waterproof bag.

In [31]:
# First, examine the number of transactions per product per day to identify any sharp changes
# Filter the data to include only necessary columns: v2ProductName, date, and transactions
transaction_data = data[['v2ProductName', 'date', 'transactions']]

# Convert 'date' column to datetime format and 'transactions' to numeric
transaction_data['date'] = pd.to_datetime(transaction_data['date'], format='%Y%m%d')
transaction_data['transactions'] = pd.to_numeric(transaction_data['transactions'], errors='coerce')

# Group by product name and date to calculate the total number of transactions per day
grouped_transactions = transaction_data.groupby(['v2ProductName', 'date']).agg({'transactions': 'sum'}).reset_index()

# Calculate the difference in the number of transactions from the previous day for each product
grouped_transactions['transaction_change'] = grouped_transactions.groupby('v2ProductName')['transactions'].diff()

# Identify anomalies where there is a sharp increase or decrease in the number of transactions (e.g., more than 50% change)
grouped_transactions['percent_change'] = grouped_transactions['transaction_change'] / grouped_transactions['transactions'].shift(1) * 100

# Filter for anomalies with a sharp change
anomalies = grouped_transactions[(grouped_transactions['percent_change'].abs() > 50) & (grouped_transactions['transaction_change'].notna())]

C:\Users\alrav\AppData\Local\Temp\ipykernel_19388\3563776787.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transaction_data['date'] = pd.to_datetime(transaction_data['date'], format='%Y%m%d')
C:\Users\alrav\AppData\Local\Temp\ipykernel_19388\3563776787.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transaction_data['transactions'] = pd.to_numeric(transaction_data['transactions'], errors='coerce')

In [27]:
anomalies

,v2ProductName,date,transactions,transaction_change,percent_change
16,1 oz Hand Sanitizer,2016-09-15,2.0,2.0,inf
17,1 oz Hand Sanitizer,2016-09-16,5.0,3.0,150.0
18,1 oz Hand Sanitizer,2016-09-17,1.0,-4.0,-80.0
19,1 oz Hand Sanitizer,2016-09-18,0.0,-1.0,-100.0
22,1 oz Hand Sanitizer,2016-09-21,2.0,2.0,inf
...,...,...,...,...,...
1144,Windup Android,2016-10-01,0.0,-1.0,-100.0
1148,Windup Android,2016-10-05,1.0,1.0,inf
1149,Windup Android,2016-10-06,0.0,-1.0,-100.0
1167,YouTube Luggage Tag,2016-10-05,0.0,-1.0,-100.0
1172,YouTube RFID Journal,2017-04-08,0.0,-1.0,-100.0

In [26]:
anomalies[anomalies.percent_change == 150]

,v2ProductName,date,transactions,transaction_change,percent_change
17,1 oz Hand Sanitizer,2016-09-16,5.0,3.0,150.0
1084,Waterproof Gear Bag,2016-08-29,5.0,3.0,150.0

In [30]:
anomalies[anomalies.v2ProductName == 'Waterproof Gear Bag']

,v2ProductName,date,transactions,transaction_change,percent_change
1082,Waterproof Gear Bag,2016-08-27,0.0,-1.0,-100.0
1083,Waterproof Gear Bag,2016-08-28,2.0,2.0,inf
1084,Waterproof Gear Bag,2016-08-29,5.0,3.0,150.0
1085,Waterproof Gear Bag,2016-08-30,1.0,-4.0,-80.0
1089,Waterproof Gear Bag,2016-09-03,0.0,-1.0,-100.0
1090,Waterproof Gear Bag,2016-09-04,1.0,1.0,inf
1091,Waterproof Gear Bag,2016-09-05,0.0,-1.0,-100.0
1092,Waterproof Gear Bag,2016-09-06,1.0,1.0,inf
1093,Waterproof Gear Bag,2016-09-07,2.0,1.0,100.0
1095,Waterproof Gear Bag,2016-09-09,0.0,-1.0,-100.0
1096,Waterproof Gear Bag,2016-09-10,1.0,1.0,inf
1098,Waterproof Gear Bag,2016-09-12,0.0,-1.0,-100.0
1099,Waterproof Gear Bag,2016-09-13,2.0,2.0,inf
1101,Waterproof Gear Bag,2016-09-15,0.0,-2.0,-100.0
1102,Waterproof Gear Bag,2016-09-16,1.0,1.0,inf
1103,Waterproof Gear Bag,2016-09-17,0.0,-1.0,-100.0
1104,Waterproof Gear Bag,2016-09-18,1.0,1.0,inf
1105,Waterproof Gear Bag,2016-09-19,0.0,-1.0,-100.0
1106,Waterproof Gear Bag,2016-09-20,1.0,1.0,inf
1108,Waterproof Gear Bag,2016-09-22,0.0,-1.0,-100.0
1114,Waterproof Gear Bag,2016-09-28,1.0,1.0,inf
1115,Waterproof Gear Bag,2016-09-29,0.0,-1.0,-100.0

### **3. Identify the most profitable city or province based on the total transaction revenue.**

**Prompt Question**

![prompt 3 Q](./images/03-prompt.png)

**The Result**

![Prom 3 A](./images/03-answer.png)

In [32]:
# Filter the necessary columns: city, country, and totalTransactionRevenue
location_data = data[['city', 'country', 'totalTransactionRevenue']]

# Convert 'totalTransactionRevenue' to numeric format
location_data['totalTransactionRevenue'] = pd.to_numeric(location_data['totalTransactionRevenue'], errors='coerce')

# Group by city and country to calculate the total transaction revenue per location
grouped_location_revenue = location_data.groupby(['city', 'country']).agg({'totalTransactionRevenue': 'sum'}).reset_index()

# Sort to find the most profitable city or province
most_profitable_location = grouped_location_revenue.sort_values('totalTransactionRevenue', ascending=False).reset_index(drop=True)

C:\Users\alrav\AppData\Local\Temp\ipykernel_19388\2146965359.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  location_data['totalTransactionRevenue'] = pd.to_numeric(location_data['totalTransactionRevenue'], errors='coerce')

#### **Analyze the result**

Based on the results, chatGPT is correct to answer the given question but there is some data that not available in demo dataset.

In [35]:
most_profitable_location.head(10)

                            city        country  totalTransactionRevenue
0  not available in demo dataset  United States             5.418467e+10
1                       New York  United States             2.125081e+10
2                  San Francisco  United States             7.774340e+09
3  not available in demo dataset      Venezuela             7.191120e+09
4                  Mountain View  United States             5.713290e+09
5                        Toronto         Canada             5.427980e+09
6                        Chicago  United States             4.621840e+09
7                      Ann Arbor  United States             3.898660e+09
8                        Atlanta  United States             3.182210e+09
9                      Maracaibo      Venezuela             2.853540e+09

## **Task 2**
**3. Step three**: Improve chatGPT output

Improvement for Prompt 1: With visualization can help understanding of data (top 10)

![improvement](./images/04-improvement.png)

**Improvement for Prompt 2**: 

**What's new**: Enhance another products that have similar anomalies and added chart 

**Reason**: To find patterns about anomalies and purposes for this graph to make it easy to understand

![improvement](./images/05-improvement.png)

**Improvement for Prompt 3**

**What's new**: added a new column which is the highest product for each of the top 5 cities and exclude unvailable data

**Reason**: so we can find out what product that profitable them the most and we only want to know the city that available in order to be able to interpret it.

![improvement](./images/06-improvement.png)